._container {
    width: auto;
    border-radius: 50%;
    margin-left: calc(50% - 32px);
}
._avatar {
    vertical-align: middle;
    border-radius: 50%;
    border-style: solid;
    position: relative;
    z-index: -1;
}

._inset-shadow {
    box-shadow: inset 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
}
