@use "../scss/variables/variables";

.app-content {
    $nh: variables.$navbar-height;
    min-height: calc(100% - #{$nh});
    padding-top: 0px + variables.$navbar-height;
}

.sidenav {
    min-width: variables.$sidenav-width;
    position: fixed;
}

.sidenav-header {
    height: variables.$navbar-height;
    font-size: 1.3rem;
    text-align: center;
}
