<mat-sidenav-container autosize>
  <mat-sidenav
    #sidenav
    class="sidenav"
    [mode]="mode"
    [opened]="opened"
    (openedStart)="onOpenChange(true)"
    (closedStart)="onOpenChange(false)"
  >
    <mat-nav-list>
      <div class="sidenav-header">
        <p class="p-3 m-0">Habemus le Clubé</p>
      </div>

      <mat-grid-list cols="1" style="margin-top: 30px; margin-bottom: 30px;">
        <div class="center mv-2">
          <app-avatar [size]="64"></app-avatar>
        </div>
        <div class="center bold mv-1">Danny Rottstegge</div>
        <div class="center">
          <small>Danny</small>
        </div>
      </mat-grid-list>

      <app-sidenav-item [route]="'/home'" [title]="'Dashboard'" [icon]="'home'"></app-sidenav-item>
      <app-sidenav-item [route]="'/events'" [title]="'Termine'" [icon]="'calendar'"></app-sidenav-item>
      <app-sidenav-item [route]="'/games'" [title]="'Spiele'" [icon]="'dice'"></app-sidenav-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-nav
      [hasShadow]="true"
      [showAlwaysMenuButton]="true"
      [opened]="opened"
      [mode]="mode"
      (menuClick)="onMenuClick()"
    ></app-nav>

    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
