@use "../scss/variables/variables";

.app-content {
    height: 100%;
    padding: 0px 10px;
}

.sidenav {
    min-width: 280px;
    position: fixed;
}

.mat-nav-list a.active {
    color: blue;
}

.mat-icon {
    padding-right: 8px;
}

.sidenav-header {
    height: variables.$navbar-height;
    font-weight: bold;
    font-size: 1.4rem;
}

.fas {
    min-width: 25px;
}
