<mat-sidenav-container autosize>
  <mat-sidenav #sidenav class="sidenav" [mode]="mode" [opened]="opened">
    <mat-nav-list>
      <div class="sidenav-header">
        <p class="p-3 m-0">Habemus le Clubé</p>
      </div>

      <mat-grid-list cols="1">
        <div class="center mv-2">
          <app-avatar [size]="64"></app-avatar>
        </div>
        <div class="center bold mv-1">Danny Rottstegge</div>
        <div class="center">
          <small>Danny</small>
        </div>
      </mat-grid-list>

      <a mat-list-item routerLinkActive="active" [routerLink]="'/'">
        <span class="fas fa-home mr-2"></span>
        Home
      </a>
      <a mat-list-item routerLinkActive="active" [routerLink]="'/calendar'">
        <span class="fas fa-calendar mr-2"></span>
        Termine
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-nav [hasShadow]="true" [showAlwaysMenuButton]="false" [mode]="mode" (menuClick)="sidenav.toggle()"></app-nav>

    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
