<h1 mat-dialog-title>{{ mode === 'edit' ? 'Edit' : 'Add' }} Event</h1>
<div mat-dialog-content>
  <p>
    <mat-form-field style="width: 100%;">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="_data.title" />
    </mat-form-field>
  </p>
  <section class="example-section mb-5">
    <mat-checkbox class="example-margin" [(ngModel)]="_data.allDay">All day</mat-checkbox>
  </section>
  <p>
    <mat-form-field *ngIf="_data.allDay" style="width: 100%;">
      <mat-label>From</mat-label>
      <input matInput [(ngModel)]="_data.start" [matDatepicker]="fromPicker" disabled />
      <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
      <mat-datepicker #fromPicker disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="!_data.allDay" style="width: 100%;">
      <input matInput [(ngModel)]="_data.start" [ngxMatDatetimePicker]="fromPicker" placeholder="From" disabled />
      <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #fromPicker [hideTime]="_data.allDay" disabled="false"></ngx-mat-datetime-picker>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field *ngIf="_data.allDay" style="width: 100%;">
      <mat-label>To</mat-label>
      <input matInput [(ngModel)]="_data.end" [matDatepicker]="toPicker" disabled />
      <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
      <mat-datepicker #toPicker disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="!_data.allDay" style="width: 100%;">
      <input matInput [(ngModel)]="_data.end" [ngxMatDatetimePicker]="toPicker" placeholder="To" disabled />
      <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #toPicker [hideTime]="_data.allDay" disabled="false"></ngx-mat-datetime-picker>
    </mat-form-field>
  </p>
  <div>
    <section class="example-section mb-5">
      <mat-checkbox class="example-margin" [(ngModel)]="repeat">Recurring</mat-checkbox>
    </section>
    <div *ngIf="repeat">
      <span>Every</span>
      <mat-form-field class="mh-2" style="width: 35px;">
        <input matInput type="number" min="1" max="999" [(ngModel)]="repeatCount" />
      </mat-form-field>
      <mat-form-field style="width: 100px;">
        <mat-select [(ngModel)]="repeating">
          <mat-option value="days">Days</mat-option>
          <mat-option value="weeks">Weeks</mat-option>
          <mat-option value="months">Months</mat-option>
          <mat-option value="years">Years</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions style="float: right;">
  <button mat-raised-button color="primary" [mat-dialog-close]="_data">Save</button>
  <button *ngIf="mode === 'edit'" mat-raised-button color="warn" (click)="dialogRef.close()">Delete</button>
  <button mat-raised-button (click)="dialogRef.close()">Cancel</button>
</div>
