<div class="app-page">
  <div class="app-page-header">
    <h1 class="app-page-header-title">Termine</h1>
    <p class="app-page-header-subtitle">You have 24 new messages and 5 new notifications.</p>
  </div>
  <div class="app-page-content">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
        <div class="box">
          <mat-card>
            <app-calendar [events]="events"></app-calendar>
          </mat-card>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <div class="box" style="height: 96%;">
          <mat-card style="height: 100%;">
            <app-calendar style="height: 100%;" [events]="events" [viewType]="'listYear'"></app-calendar>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
