{
  "trailingComma": "all",
  "tabWidth": 4,
  "printWidth": 120,
  "allowParens": "always",
  "importOrder": ["^@components/(.*)$", "^@hooks/(.*)$", "^@util/(.*)$", "^@const/(.*)$", "^@public/(.*)$", "^[./]"]
}
