@use "../../../scss/variables/variables";
@use "../../../scss/helpers";

.app-navbar {
    min-height: variables.$navbar-height;
    height: variables.$navbar-height;

    /* Shadow*/
    @extend .shadow-bottom;
    position: relative;
    z-index: 4;
}

.app-navbar-spacer {
    flex: 1 1 auto;
}
