@use "../../../scss/variables/variables";
@use "../../../scss/helpers";

.app-navbar {
    min-height: variables.$navbar-height;
    height: variables.$navbar-height;
    position: fixed;
    z-index: 998;
}

.app-navbar.expanded {
    padding-right: variables.$sidenav-width !important;
}

.app-navbar-spacer {
    flex: 1 1 auto;
}
