@use "../../../scss/variables/variables";
@use "../../../scss/helpers";

.app-navbar {
    min-height: variables.$navbar-height;
    height: variables.$navbar-height;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;

    /* Shadow*/
    @extend .shadow-bottom;
}

.app-navbar-spacer {
    flex: 1 1 auto;
}
