// base colors
$red: #ff3c3c;
$red-ligther: #ff5c5d;
$red-light: #ff8080;
$green: #09c270;
$green-lighter: #3ada8b;
$green-light: #57eca3;
$blue: #0063f8;
$blue-lighter: #5b8eee;
$blue-light: #9dbff8;
$orange: #ff8802;
$orange-lighter: #fdac41;
$orange-light: #fccc75;
$yellow: #ffcb01;
$yellow-lighter: #ffdd49;
$yellow-light: #feed73;
$teal: #02cede;
$teal-lighter: #73e0e7;
$teal-light: #a9f0f3;
$purple: #6500cd;
$purple-lighter: #ac5cd9;
$purple-light: #dea5e8;

$dark: #28293d;
$dark-lighter: #545770;
$dark-light: #9090a7;
$light: #ebebef;
$light-lighter: #f2f2f4;
$light-light: #fbfafc;

// main colors
$primary: $blue;
$secondary: $green;
$background: $dark;

$sidenav-header-bg: #153d77;
$navbar-bg: $sidenav-header-bg;
$font-light: #fff;
$font-dark: $dark;
$body-bg: #f4f7fc;
