<div>
  <full-calendar #calendar [options]="calendarOptions"></full-calendar>

  <div class="calendar-actionbar mt-3" style="display: inline-block; width: 100%;">
    <div style="float: left;">
      <button mat-raised-button color="primary" (click)="openDialog()">
        <span class="fas fa-plus"></span>
      </button>
    </div>
    <div style="float: right;">
      <div class="mat-button-group">
        <button mat-raised-button color="primary" (click)="calendar.getApi().prev()">
          <span class="fas fa-angle-left"></span>
        </button>
        <button mat-raised-button color="primary" (click)="calendar.getApi().next()">
          <span class="fas fa-angle-right"></span>
        </button>
      </div>
    </div>
  </div>
</div>
