@use 'scss/helpers';
@use 'scss/variables/variables';
@import 'src/scss/angular-material-theme';

html,
body {
    height: 100%;
    margin: 0;
    font-family: variables.$fonts-body;
}

.fas {
    font-size: variables.$fonts-font-awesome-font-size;
}
