@use 'scss/helpers';
@use 'scss/variables/variables';
@import 'src/scss/themes/app-light';

html,
body {
    height: 100%;
    margin: 0;
    font-family: variables.$fonts-body;
}

.fas {
    font-size: variables.$fonts-font-awesome-font-size;
}

.app-page {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.app-page-header {
    margin-bottom: 48px;
}

.app-page-header-title {
    margin-bottom: 0.5rem;
}
.app-page-header-subtitle {
    padding: 0px;
    margin: 0px;
}
